<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .tamil{
            font-family: 'Latha',sans-serif;
            font-size: 15px;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <p class="tamil">1.கடந்த மாதத்தில், எதிர்பாராத விதமாக நடந்த சம்பவத்தால் நீங்கள் எத்தனை முறை வருத்தப்பட்டீர்கள்?</p>
    <p></p>
    <p>Poonela</p>
</body>
</html>